* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
    overflow-x: hidden;
    overflow-y: hidden; */

}

body {
    background-color: bisque;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Dikeyde ortalama */
    align-items: center;
    /* Yatayda ortalama */
    width: 70%;
    /* İsteğe göre genişlik */
    margin: 20px auto;

    /* Sayfanın ortasında hizalama */
    background-color: aliceblue;
    padding: 20px;
    /* İç boşluk */
    border-radius: 10px;
    /* Köşeleri yuvarlatma (isteğe bağlı) */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.result_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.result_column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}





.columnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 5px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    padding: 5px;
}



.header_style {
    font-size: 55px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blueviolet;
    margin-bottom: 20px;

}

.subTitles {

    font-size: 35px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    margin-bottom: 5px;
}

.answer_titles {
    font-size: 30px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(69, 8, 69)[];
    margin-bottom: 5px;
}

.option_buttons {
    width: auto;
    padding: 10px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;


}

/*button:hover {
    cursor: grab;
} */